.navbar {
  background-color: #d6d191;
  box-shadow: 1px 0px 5px grey;
  display: flex;
}

a {
  text-decoration: none;
  color: #fcf9db;
}

.footer {
  margin-top: 200px;
  padding: 10px;
  background-color: #514f37;
  color: #fcf9db;
  height: 9em;
  display: flex;
  font-size: 12pt;
}
