#sidebarcontainer > div:hover img {
  opacity: .3;

}

#navbarelement > .navbaritems:hover {
  background-color: #587c6b;
}

#navbarelement > .navbaritems1:hover {
  background-color: #9b423e;
}

.sidebar div:hover .imgtext {
  visibility: visible;
  opacity: 1;
  transition: 2s;
}
