

.navbar {
  background-color: #d6d191;
  box-shadow: 1px 0px 5px grey;
  display: flex;
}


.mainpage {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #9a9e19 /* #b7b379*/ ;

}

.sortbar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 2px solid #bcba9a
}
