.navbar {
  background-color: #d6d191;
  box-shadow: 1px 0px 5px grey;
  display: flex;
}

a {
  text-decoration: none;
  color: #fcf9db;
}

.footer {
  margin-top: 200px;
  padding: 10px;
  background-color: #514f37;
  color: #fcf9db;
  height: 5.5em;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 13pt;
  overflow: hidden;
}

#horizontal-line {
  width: 500px;
  height: 1px;
}

#copyrightdiv {
  background-color: #28271b;
  flex-basis: auto;
  width: 100%;
  margin: auto;
  text-align: center;
}

#copyright {

}

#contactfooterdiv {
  text-align: center;
}
