body, html {
  background-color: #f7f4c8;
  margin: 0px;
}

.navbaritems {
  color: #f7f4c8;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  padding: 15px;
}

#home {
  background-color: #96ceb4;

}

#overmezelf {
  background-color: #ff6f69;

}

#nieuws {
  background-color: #96ceb4;

}

#login {
  background-color: #ff6f69;
  margin-left: auto;

}
/*
.menuitems {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  padding: 10px;
}

#thema1 {
  background-color: #b6d2d8;
  margin-top: 40px;
}

#thema2 {
  background-color: #e2a541;
  margin-top: 40px;
}

#thema3 {
  background-color: #7f8ea5;
  margin-top: 40px;
} */
