body, html {
  background-color:  /*#e4ea27;*/ #f7f4c8;
  margin: 0px;
}

#navbarelement > button {
  color: #fffcce ;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  padding: 15px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
  border: none;
  transition: .5s;
}

#home {
  background-color:#79a892 ;
}

#overmezelf {
  background-color: #db5f59;

}

#nieuws {
  background-color:  #79a892 ;
}

#login {
  background-color: #db5f59;
  margin-left: auto;

}

.sidebar > div > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: solid 1.5px black;
  cursor: pointer;
  transition: .3s;
}

.sidebaritems-horizontal {
  grid-column: span 2 / auto;
  position: relative;
}

.sidebaritems-vertical {
  grid-row: span 2 / auto;
  position: relative;
}

.sidebaritems-big {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
}

.sidebaritems-small {
  position: relative;
}


.imgtext {
  position: absolute;
  bottom: 33%;
  left: 17.5%;
  visibility: hidden;
  background-color: #2f343d;
  padding: 10px;
  font-family: sans-serif;
  color: #b7b379;
  font-size: 20pt;
  text-align: center;
  margin: .5em;
  cursor: pointer;
}
